{% extends 'users/base2.html' %}


<!--Navbar content -->
{% block navbar-content %}
    
{% endblock navbar-content %}

<!--Page content -->
{% block content %}
<div class="container">
    <br><br><br>

    <table class="table table-border" id="example" style="text-align: center;">
        <thead class="table-success">
            <tr>
                <th>Name</th>
                <th>Stomach ache</th>
                <th>Malaria</th>
                <th>Injuries</th>
                <th>Head ache</th>
                <th>Cough</th>
                <th>Fever</th>
            </tr>
        </thead>
        <tbody>
      {% for user in users %}

        <tr>
            <td>{{ user.first_name }}</td>
            <td>{{ user.stomach_ache }}</td>
            <td>{{ user.malaria }}</td>
            <td>{{ user.injuries }}</td>
            <td>{{ user.head_ache }}</td>
            <td>{{ user.cough }}</td>
            <td>{{ user.fever}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
</div>
{% endblock content %}